<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2025 - Blogs   A blog for developers to share knowledge, tutorials, and insights.
        Learn, share, and grow together in the coding community.
        - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>